*, ::before, ::after {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav, .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
}

.nav {
    padding: 1.5rem;
}

.menu {
    gap: 4rem;
}

.nav .logo {
    font-size: 2rem;
}